:root {
    font-size: 62.5%; /* 1rem = 10px */

    /* colors */
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 7%);

    /* fonts */
    --fs-p: 1.58rem; /* size paragraph */
    --ff: 'Figtree', sans-serif; /* family */
    --fw-b: 600; /* weight bold */
    --fw-sb: 800; /* weight super bold */
}

/* reset */
*, *::after, *::before {
    box-sizing: border-box;
    /* outline: .2rem solid tomato; */
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

img {
    display: block; /* to remove inline white space*/
}

/* fonts */
p {
    font-size: 1.4rem;
}

section p:nth-child(2) { /* select the second paragraph */
    font-weight: var(--fw-b);
    font-size: 1.2rem;
    color: var(--black);
}

section p:last-child { /* select the last paragraph */
    color: var(--grey);
    line-height: 1.6;
    font-size: 1.38rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
}

h1, h2, p {
    font-family: var(--ff);
}

h1, h2, .container__user p {
    font-weight: var(--fw-sb);
    color: var(--black);
}

/* layout */
body {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    width: 88%;
    margin: auto;
    padding: 2.2rem;
    border-radius: 2rem;
    border: solid .2rem var(--black);
    border-top-color: var(--grey);
    border-left-color: var(--grey);
    box-shadow: var(--black) .8rem .7rem;

    background-color: var(--white);

    position: relative;
    z-index: 1;
}

.container__image {
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container__main {
    margin-block: 2.2rem;
}

h2 {
    display: inline-block;
    background-color: var(--yellow);
    padding: .6rem 1.2rem;
    border-radius: .4rem;
    margin-bottom: 1.5rem;
}

h2:hover, .container__user p:hover, .container__user img {
    cursor: url(../assets/images/cursor-de-mao24.png), pointer;
}

h1 {
    margin-block: 1.6rem;
}

h1:hover {
    color: var(--yellow);
    cursor: url(../assets/images/cursor-de-mao24.png), pointer;
}

.container__user {
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.container__user img {
    width: 3rem;
}

/* more than 385px */
@media screen and (min-width: 380px) {
    .container {
        max-width: 384px;
    }
    
    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    section p:nth-child(2) { /* select the second paragraph */
        font-size: 1.4rem;
    }
    
    section p:last-child { /* select the last paragraph */
        font-size: var(--fs-p);
    }

    img {
        max-width: 100%;
    }

    .container__user img {
        width: 3.2rem;
    }
    
    .container__user p {
        font-size: 1.4rem;
    }
}

/* less than 319px */
@media screen and (max-width: 320px) {
    body {
        display: block;
    }

    .container {
        width: 28rem;
        margin: 1rem auto;
    }

    h1 {
        font-size: 1.98rem;
    }
}

/* less than 301px */
@media screen and (max-width: 301px) {
    .container {
        box-shadow: 0 .2rem;
    }
}

/* less than 280px */
@media screen and (max-width: 280px) {
    .container {
        margin: 0;
        border-radius: 0;
        box-shadow: none;
        border: none;
    }
}

.attribution {
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 0;
}
